# Telegram
TELEGRAM_BOT_TOKEN=

# Statsig (Server Secret Key)
STATSIG_SERVER_SECRET_KEY=
STATSIG_GATE_NAME=telegram_onboarding_ab

# Supabase
SUPABASE_URL=https://yivtkpxiefxterygyeym.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpdnRrcHhpZWZ4dGVyeWd5ZXltIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTA0NTkwNywiZXhwIjoyMDkwNjIxOTA3fQ.1zlX8KSrW0Qb6rxh2aNeyGel0_ASWlBNrHqmA8WXzXE

ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpdnRrcHhpZWZ4dGVyeWd5ZXltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNDU5MDcsImV4cCI6MjA5MDYyMTkwN30.9keHnuTjPyC4seVuEZebBr6xtqFcsM_5lF-89NnrMBA
PUBLISHABLE_KEY=sb_publishable_zp4zB5VG6R3AC2XBQsh8mQ_jvwpwpni
